# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa8]
*~
*.hi
config.d
*.depend
iolaus
bin/iolaus
idiff
preproc
bin/preproc
git-imof
*.log
.package.conf
.test?*
tmp
.merge*
err
try-*
.latest*
Iolaus/Help.lhs
*.html
manual
iolaus-record*
iolaus-amend*
*.1
iolaus-whatsnew
iolaus-changes
iolaus-initialize
pdiff
