BODY {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1em;
}

A:link {
  background: transparent;
  color: #298249;
}

A:visited {
  background: transparent;
  color: #70b371
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 2em;
}

div.verseblock {
  text-indent: -5em;
  padding-left: 5em;
}

dt {
    font-style: italic;
    color: #107010;
}

PRE     {
  background: #eeeeee;
  border: 1px solid #888888;
  color: black;
  padding: 1em;
  white-space: pre;
}

H1      {
  color: #298249;
  font-size: 24px ;
}

H2      {
  color: #298249;
  font-size: 18px;
}

H3      {
  color: #298249;
  font-size: 16px;
}

H4      {
  color: #298249;
  font-size: 14px;
}

/* headers for command options */
.cmd-opt-hdr     {
  color: #298249;
  font-size: 14px;
  font-weight: bold;
}
